.img1{
    width: 510px;
    padding-left: 180px;
}

.img2{
    width: 509px;

}

.img3{
    width: 510px;
}

body{
    background-color: #FFE8F1;
}

.botao{
   color: black;
   background-color: #EF5F96;
   border-radius: 15%;
   height: 40px;
   width: 80px;
   font-size: 18px;
   margin: auto;
   display: block;
}

.video{ 
    padding-left: 665px;
}